.columns {
	-webkit-columns: 40px 2;
	/* Chrome, Safari, Opera */
	-moz-columns: 60px 2;
	/* Firefox */
	columns: 60px 2;
}

.app-underline {
	text-decoration: underline dotted #f28a5d;
	text-decoration-thickness: 3px;
}
